trigger:
- master

pool:
    vmImage: 'windows-2019'  # name of the pool to run this job in
    demands: 
      - msbuild
      - visualstudio
      - vstest

variables:
  solution: '**/*.sln'
  buildPlatform: 'x86|x64|ARM'
  buildConfiguration: 'Release'

steps:
- task: VSBuild@1
  inputs:
    platform: 'x64'
    solution: '$(solution)'
    configuration: '$(buildConfiguration)'

- task: ComponentGovernanceComponentDetection@0
  inputs:
    scanType: 'LogOnly'
    verbosity: 'Verbose'
    alertWarningLevel: 'High'

- task: VisualStudioTestPlatformInstaller@1
  inputs:
    packageFeedSelector: 'nugetOrg'
    versionSelector: 'latestPreRelease'

- task: VSTest@2
  inputs:
    testSelector: 'testAssemblies'
    testAssemblyVer2: '**\*test*.dll'
    searchFolder: '$(System.DefaultWorkingDirectory)' 
    runOnlyImpactedTests: false
    runInParallel: false