name: Lint

on:
  push:
    branches:
      - main
  pull_request:

jobs:
  lint-cpp:
    name: Lint C++
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@master
      - uses: reviewdog/action-cpplint@master
        with:
          github_token: ${{ secrets.github_token }}
          reporter: github-pr-check
          level: warning
          flags: --linelength=80
          filter: -readability/braces
            ,-whitespace/braces
            ,-whitespace/comments
            ,-whitespace/indent
            ,-whitespace/newline
            ,-whitespace/operators
            ,-whitespace/parens
